<div class="container geral ">
  <div class="espaco-1"></div>

  <div class="square rounded-4">

    <div class="cima ">
      <p class="text-left titulo p-3 rounded-top-4">Detalhes da Viagem</p>
    </div>

    <div class="espaco-2"></div>
    <div class="container ">
      <form class="row">
        <div class="mb-3 col">
          <label for="exampleInputEmail1" class="form-label col-auto">Destino:</label>
          <input type="text" class="form-control" id="exampleInputEmail1 col-auto" aria-describedby="emailHelp" placeholder="São Paulo" disabled="true">
        </div>
        <div class="mb-3 ml-2 col">
          <label for="exampleInputTipo" class="form-label">Tipo:</label>
          <input type="tipo" class="form-control" id="exampleInputTipo" placeholder="Lazer" disabled="true">
        </div>
        <div class="mb-3 ml-2 col">
          <label for="exampleInputChegada" class="form-label">Data de chegada:</label>
          <input type="chegada" class="form-control" id="exampleInputChegada" placeholder="12/09/2023" disabled="true">
        </div>
        <div class="mb-3 ml-2col">
          <label for="exampleInputSaida" class="form-label">Data de saida:</label>
          <input type="saida" class="form-control" id="exampleInputSaida" placeholder="20/09/2023" disabled="true">
        </div>
        <div class="mb-3 ml-2col">
          <label for="exampleInputValor" class="form-label" >Valor:</label>
          <input type="valor" class="form-control" id="exampleInputValor" placeholder="R$ 1000,00" disabled="true">
        </div>
        <div class="mb-3 ml-2col">
          <label for="exampleInputPessoas" class="form-label">Qtde Pessoas:</label>
          <input type="pessoas" class="form-control" id="exampleInputPessoas" placeholder="5" disabled="true">
        </div>

        <div class="row">
          <div class="col text-center">
            <button type="submit" class="btn btn-primary " routerLink="">Voltar</button>
          </div>

        </div>


      </form>


    </div>


  </div>
</div>
