<div class="container geral">

  <div class="container espaco-1"></div>

  <div class="square rounded-4">
    <div class="cima ">
      <p class="text-left titulo p-3 rounded-top-4">Excluir Viagem</p>
    </div>

    <div class="espaco-1"></div>
    <div class="container w-75">
      <div class="panel-body table-responsive">
        <table class="table table-striped">
          <thead class="table-dark">
            <tr>
              <th scope="col">Destino</th>
              <th scope="col">Tipo</th>
              <th scope="col">Data de Chegada</th>
              <th scope="col">Data de Saida</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>São Paulo</td>
              <td>Lazer</td>
              <td>12/09/2023</td>
              <td>20/09/2023</td>
              <td class="w-25"><div><button class="btn btn-info um" routerLink="">Voltar</button><button class="btn btn-danger ml-2" routerLink="excluir">Excluir</button></div></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
